.collection-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
    text-align: center;
  
    .image-ecommerce {
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 5px;
      
    }
    @media only screen and (max-width: 900px) {
      font-size: 0.7rem;
      .image-ecommerce {
        width: 15vw;
      }
    }
  }